name: CI

on:
  pull_request:
    branches: ['*']

jobs:
  ci:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    env:
      PUBLIC_UI_VERSION: ${{ github.ref }}
      STAGE: build # Ugly workaround some build bug that tries to connect to the DB while bundling

    steps:
      - uses: actions/checkout@v5

      - uses: pnpm/action-setup@v4
        with:
          version: 9
          run_install: false

      - uses: actions/setup-node@v4
        with:
          node-version: lts/*
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm i --frozen-lockfile

      - name: Build
        run: pnpm run build

      - name: Svelte check
        run: pnpm run check

      - name: Prettier and eslint checks
        run: pnpm run lint
